<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer>
  <a th:href="@{/logout}">Logout</a>
  <br><br>
</footer>
<br>
<a href="/admin/add">Add User</a>
<br><br>
<table border="1">
  <tr>
    <th>No</th>
    <th>first name</th>
    <th>last name</th>
    <th>age</th>
    <th>password</th>
    <th>role</th>
  </tr>
  <tr th:each="user, state :${allUser} ">
    <td th:utext="${state.count}" >No</td>
    <td><a th:utext="${user.firstName}" th:href="@{/admin/address(id=${user.id})}">first name<a/></a>
    <td th:utext="${user.lastName}" >last name</td>
    <td th:utext="${user.age}" >age</td>
    <td th:utext="${user.password}" >password</td>
    <td th:utext="${user.roles}" >role</td>
    <td><a th:href="@{/admin/updateForm(id=${user.id})}">Update</a></td>
    <td><a th:href="@{/admin/delete(id=${user.id})}">Delete</a></td>
  </tr>
</table>
</body>
</html>